@import './scss/header.scss';

//vars

//colors
$mainBlue                         : #2a2a72;
$lightBlue                        : #009ffd;
$mainWhite                        : #f3f3f3;
$mainDark                         : #232528;
$mainYellow                       : #ffa400;

//fonts
$Oswald                           : 'Oswald', sans-serif;
$Permanent                        : 'Permanent Marker', cursive;


body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $Oswald !important;
    color: var($mainDark) !important;
}
li{
    display: block;
}

nav{
    width: 100%;
    height: 65px;
    background-color: $mainBlue;
    a{
        font-size: 1.4rem;
    }
}
.my-btn-cart{
    border: 1px solid $lightBlue;
    border-radius: 10px;
    color: $lightBlue;
    font-size: 1.3rem;
    transition: 0.7s ease;
    i{
        color: $lightBlue;
        transition: 0.7s all;
    }
    &:hover{
        background-color: $lightBlue;
        color: $mainBlue;
        i{
            color: $mainBlue;
        }
    }
}
.my-title{
    font-size: 2.5rem;
    font-family: $Permanent;
    color: $mainBlue;
    letter-spacing: 5px;
    font-weight: bold;
    strong{
        color: #000000;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 300px;
    transition: 1.2s ease-in;

    .item-main{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            img{
                width: 150px;
                transition: 1.2s ease-in;
            }
        }
        .add-to-card{
            min-width: 40px;
            max-width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0px;
            bottom: 60px;
            border: none;
            border-color: none;
            border-radius: 0;
            border-top-left-radius: 10px;
            background-color: $lightBlue;
            color: #ffffff;
            font-size: 1.3rem;
            cursor: pointer;
            transform: translate(50px, 50px);
            transition: 1.2s ease-in;
            font-size: 1.5rem;
            line-height: 0.9;
            &:active{
                border: none;
                border-color: none;
                box-shadow: none;
            }
            &:hover{
                border: none;
                border-color: none;
                box-shadow: none;
            }
            &:disabled{
                opacity: 1;
                color: #ffffff;
            }
        }
    }
    .item-footer{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        z-index: 100;
        transition: 1s ease-in;
        span{
            &:nth-of-type(2){
                color: $mainBlue;
                transform: skewX(-15deg);
                font-size: 1.2rem;
            }
        }
    }
    &:hover{
        border: 1px solid #a3a3a3;
        -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);
        -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);
        box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.5);
        .add-to-card{
            transform: translate(0px, 0px);
            span, i{
                transition: 1s ease-in-out;
                &:hover{
                    color: $mainBlue;
                }
            }
        }
        a{
            img{
                transform: scale(1.2,1.2);
            }
        }
        .item-footer{
            background-color: $mainWhite;
        }
    }
}

//DETAILS
.details-title{
    margin-top: 100px;
    color: $mainBlue;
}
.details-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-content{
    padding-top: 50px;
    .details-list{
        padding-left: 0;
        li{
            font-size: 1.7rem;
            &:nth-of-type(2){
                font-family: $Permanent;
                color: #797979;
                letter-spacing: 3px;
            }
            &:nth-of-type(3){
                color: $mainBlue;
            }
            &:nth-of-type(4){
                font-size: 1rem;
                font-weight: bold;
                p{
                    font-weight: normal;
                    color: #686868;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .details-footer{
        .details-btn{
            font-size: 1.4rem;
            transition: .5s ease-in;
            &:nth-child(1){
                border: 1px solid $lightBlue;
                background-color: transparent;
                color: $lightBlue;
                border-radius: 10px;
                &:hover{
                    background-color: $lightBlue;
                    color: $mainDark;
                }
            }
            &:nth-child(2){
                border: 1px solid $mainYellow;
                background-color: transparent;
                color: $mainYellow;
                border-radius: 10px;
                &:hover{
                    background-color: $mainYellow;
                    color: $mainDark;
                }
            }
        }
    }
}

//MODAL

.modal-container{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 520px;
    background-color: $mainWhite;
    border-radius: 0%;
    border: none;
    img{
        width: 280px;
    }
    .modal-title{
        color: $mainDark;
        font-size: 1.3rem;
        font-weight: 400;
    }
    h2{
        font-size: 1.3rem;
    }
    span{
        font-size: 1.3rem;
        color: #808080;
    }
    .modal-footer-block{
        margin-top: 10px;
        button{
            font-size: 1.2rem;
            margin-right: 5px;
                border: 1px solid $lightBlue;
                background-color: transparent;
                color: $lightBlue;
                border-radius: 10px;
                &:hover{
                    background-color: $lightBlue;
                    color: $mainDark;
                }
            }
        a{
             button{
                border: 1px solid $mainYellow;
                background-color: transparent;
                color: $mainYellow;
                border-radius: 10px;
                &:hover{
                    background-color: $mainYellow;
                    color: $mainDark;
                }
            }
        }
    }
}

//CART
.btn-group{
    .btn{
        border-radius: 0%;
        box-shadow: none;
    }
    div{
        font-size: 0.8rem;
    }
    button, div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transition: .1s ease-in;
        border: 1px solid #000000;
        &:hover{
            color: #ffffff;
            background-color: rgb(0, 0, 0);
        }
    }
    
}

.cart-count{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}